#root {
  background-color: #d4e3fa;
  font-family: 'Baloo Tamma 2', cursive;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  align-items: center;
}

#clock-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 7px;
  border-radius: 10px;
  background-color: white;
}

#break-area, #session-area{
  width: 50%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 30px;
}

#break-label {
  width: 100%;
  text-align: center;
}

#session-label {
  width: 100%;
  text-align: center;
}

#break-area button, #session-area button {
  font-size: 30px;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#timer-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 50px;
}

#timer-label {
  width: 100%;
  text-align: center;
}

#time-left {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 8px outset #1C6EA4;
  border-radius: 15px;
}

#timer-area button {
  height: 80px;
  width: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#break-length, #session-length {
  align-self: center
}

@media only screen and (max-width: 600px) {
  #root {
    height: auto;
    min-height: 100vh;
  }
  
  #clock-area {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #break-area, #session-area {
    width: 100%;
    font-size: 20px;
  }
  
  #break-area button, #session-area button {
    font-size: 20px;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #timer-area {
    font-size: 30px;
  }
  
  #timer-area button {
    height: 60px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}